<div class="scrollable">
  <div class="scrollable-content">

<div class="row">
<div class="djs">

<div class="profile_pic">
<div class="pic">
  <img src="images/dj_pic.png" width="287" height="287" alt="profile" /></div>
</div>
<div class="content">
  <h3>Kyle Worde</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mollis, magna non imperdiet aliquet, odio elit scelerisque risus, sit amet adipiscing ligula nibh non dolor. Sed imperdiet ullamcorper nibh, et aliquet ante mattis quis. 
In sed diam sollicitudin turpis porta consequat. Etiam quis augue purus, ac fermentum eros. Aliquam erat volutpat. Integer mi lorem, feugiat in hendrerit vitae, vulputate nec diam. In tristique ipsum ut dolor bibendum vel dignissim tellus mollis. Donec et eros erat, vitae suscipit enim.</p>
  
</div>
</div>
  </div>
  <div class="row">
  <a href="#" class="button dark_gray"><i class="fa fa-calendar-o"></i>Gig Guide</a>
  </div>
  <div class="row">
    <a href="#" class="button red"><i class="fa fa-cloud"></i>Mix Cloud</a>
  </div>
</div>


