<div class="scrollable">
  <div class="scrollable-content">
<div class="twitter">
<div class="row">
<img src="images/twitter_feed_03.png" alt="Subscriver" />

</div>
<div class="row">
<div class="tweets">
<img src="images/twitter_img.png" width="126" height="129" alt="Twitter" />
<div class="txt_tweets">
<h6>HUAWEI CULTURE CLUB</h6> 
<span>HUAWEI CC</span>
<p class="date">2 hours ago<i class="fa fa-twitter"></i></p>
<p>@Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Cras eleifend viverra mauris in egestas. Maecenas ac 
tristique augue, id egestas sem. #Morbi in scelerisque orci. 
  <a href="#">http://t.co/12ffdxt/6554i</a></p>
  </div>
</div>
</div>
<div class="row">
<div class="tweets">
<img src="images/twitter_img.png" width="126" height="129" alt="Twitter" />
<div class="txt_tweets">
<h6>HUAWEI CULTURE CLUB</h6> 
<span>HUAWEI CC</span>
<p class="date">2 hours ago<i class="fa fa-twitter"></i></p>
<p>@Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Cras eleifend viverra mauris in egestas. Maecenas ac 
tristique augue, id egestas sem. #Morbi in scelerisque orci. 
  <a href="#">http://t.co/12ffdxt/6554i</a></p>
  </div>
</div>
</div>
<div class="row">
<div class="tweets">
<img src="images/twit_10.png" width="126" height="129" alt="Twitter" />
<div class="txt_tweets">
<h6>HUAWEI CULTURE CLUB</h6> 
<span>HUAWEI CC</span>
<p class="date">2 hours ago<i class="fa fa-twitter"></i></p>
<p>@Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Cras eleifend viverra mauris in egestas. Maecenas ac 
tristique augue, id egestas sem. #Morbi in scelerisque orci. 
  <a href="#">http://t.co/12ffdxt/6554i</a></p>
  </div>
</div>
</div>
<div class="row">
<div class="tweets">
<img src="images/twitter_img.png" width="126" height="129" alt="Twitter" />
<div class="txt_tweets">
<h6>HUAWEI CULTURE CLUB</h6> 
<span>HUAWEI CC</span>
<p class="date">2 hours ago<i class="fa fa-twitter"></i></p>
<p>@Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Cras eleifend viverra mauris in egestas. Maecenas ac 
tristique augue, id egestas sem. #Morbi in scelerisque orci. 
  <a href="#">http://t.co/12ffdxt/6554i</a></p>
  </div>
</div>
</div>
  </div>
</div>
</div>


